<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
<connectionStrings><add name="ToDoAppDbEntities" connectionString="metadata=res://*/Model.ToDoAppDbModel.csdl|res://*/Model.ToDoAppDbModel.ssdl|res://*/Model.ToDoAppDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\Source\Repos\IvailoPetrov06\ToDoApp\ToDoAppDb.mdf;Integrated Security=True" /></connectionStrings></configuration>